#map {
  width: 800px;
  height: 500px;
  margin-top: 40px;
}

body{
  font-family: Tahoma, Geneva, sans-serif;
  background-color: LightPink;
  font-size: 25px;
  color: white;
}

#distance{
  font-size: 40px;
  color: crimson;
  display: block;
  margin-top: 30px;
}